<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link th:href="@{/css/gameboard.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">

</head>
<body>

<header class="row justify-content-center">
    <h1>Let's play cards !</h1>
</header>

<div class="container justify-content-center">
    <div class="col-4">
        <div class="row justify-content-md-start">
            <h3>Color Order :</h3>
        </div>
        <div class="row justify-content-between">
            <th:block th:each="color: ${colors}">
                <img th:if="${color == 'Spade'}"
                     th:src="@{'images/spade-32.png'}" alt="Spade"/>
                <img th:if="${color == 'Diamond'}"
                     th:src="@{'images/diamond-32.png'}" alt="Diamond"/>
                <img th:if="${color == 'Club'}"
                     th:src="@{'images/club-32.png'}" alt="Club"/>
                <img th:if="${color == 'Heart'}"
                     th:src="@{'images/heart-32.png'}" alt="Heart"/>
            </th:block>

        </div>
    </div>
</div>

<div class="container justify-content-center">
    <div class="col-8">
        <div class="row justify-content-md-start">
            <h3>Value Order :</h3>
        </div>
        <div class="row justify-content-start">
            <p th:each="value: ${values}" th:text="${value}"></p>
        </div>
    </div>
</div>

<div class="container justify-content-center">
    <div class="col-11">
        <div class="row justify-content-md-start">
            <h3>Unordered Hand :</h3>
        </div>
        <div class="row justify-content-around">
            <img th:each="card: ${unorderedHand}" th:src="@{'images/'+${card}}" width="100"
                 alt="${card}"/>
        </div>
    </div>
</div>

<div class="container justify-content-center">
    <div class="col-11">
        <div class="row justify-content-md-start">
            <h3>Ordered Hand :</h3>
        </div>
        <div class="row justify-content-around">
            <img th:each="card: ${orderedHand}" th:src="@{'images/'+${card}}" width="100"
                 th:alt="${card}"/>
        </div>
    </div>
</div>

</body>
</html>